*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
header{
max-width: 1440px;
height: 241px;
padding: 85px 120px 31px 120px;
display: flex;
justify-content: space-between;
flex-direction: column;
background: #0D0D0DC2;

}
header .first-header{
    width: Fixed (1,200px);
height: Hug (40px);
top: 85px;
left: 120px;
justify-content: space-between;
display: flex;



}
header .first-header input{
    width: 285px;
height: 40px;
padding: 11px 15px 10px 15px;
border-radius: 5px;
border: 1px solid red;
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 19px;
background-color: white;
outline: 0;


}
header .btn{
margin: 0 auto;
    width: 326px;
    height:31px;
    gap: 14px;
    display: flex;
    
}
header .btn button{
padding: 6px 12px 6px 12px;
border-radius: 5px;
background: #FF4343;
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 19px;
white-space: nowrap;


}
main{
    background-image: url("../public/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    /* width: 100%; */
   min-height:  calc(100vh - 241px);
    /* height: 783px; */
}